
.table-container{ overflow: scroll;}
table th, table td {
 # padding: 10px 20px;
}
table tr th:first-child, table td:first-child{
  position: sticky;
  width: 100px;
  left: 0;
  z-index: 10;
  background: #f2f2f2;
}
table tr th:first-child{
  z-index: 11;
}
table tr th{
  position: sticky;
  top: 0;
  z-index: 9;
  background: #f2f2f2;
}